<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifsp.stmob" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity android:name=".RecuperaSenhaActivity" >
        </activity>
        <activity android:name=".BuscaAvisoExtraordinarioActivity" >
        </activity>
        <activity android:name=".CadastraAvisoExtraordinarioActivity" >
        </activity>
        <activity android:name=".AlteraParticipanteActivity" >
        </activity>
        <activity android:name=".CadastraParticipanteActivity" >
        </activity>
        <activity android:name=".BuscaAtividadesnenhumretornto" >
        </activity>
        <activity android:name=".MostraAtividadeActivity" >
        </activity>
        <activity android:name=".AlteraInformacoesPessoais" >
        </activity>
        <activity android:name=".BuscarAtividadesActivity" >
        </activity>
        <activity android:name=".BuscaAtividadeResultadoActivity" >
        </activity>
        <activity android:name=".DetalheAtividadeActivity" >
        </activity>
        <activity android:name=".ListaParticipanteFiltroActivity" >
        </activity>
        <activity android:name=".ListaParticipanteResultadoActivity" >
        </activity>
    </application>

</manifest>
